#landing, #example {
    display: grid;
    height: 100vh;
    width: 99vw;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
}

#landing > *, #example > * {
    grid-row: 1 / 4;
    grid-column: 1/ 13;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: termina, sans-serif;
    font-weight: 700;
    font-style: normal;
}

h1 {
    font-size: 10em;
}

p{
    text-align: justify;
}

#landingtext {
    grid-row: 3 / 4;
    grid-column: 8/ 11;
}

#instabang {
    grid-column: 7 / 13;
    grid-row: 1 / 4;
    filter:  saturate(1.6) blur(75px);
}

#not-logo {
    grid-column: 8 / 12;
    grid-row: 1 / 4;
    margin:auto;
}

#example-text {
    grid-row: 3 /4;
    grid-column: 2/5;
}